<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <h4 class="list-group-item-heading"></h4>
            </div>
            <div class="row">
                <img src="" alt="" class="list-group-item image-responsive pull-left" style="max-height: 80px;">
                <a href="#" class="btn btn-primary pull-right" role="button">Edit</a>
                <a href="#" class="btn btn-danger pull-right" role="button">Delete</a>
            </div>            
        </div>
        <div class="panel-body">
            <div class="row">
    <div class="col-xs-12">
        <div class="list-group-item clearfix">
            <div>
                <p class="list-group-item-heading">Email:</p>
                <p class="list-group-item-heading">Phone:</p>
            </div>
        </div>
    </div>
</div>
        </div>
      </div>
</div>



